.form {
  display: flex;
  flex-direction: column;
  padding: 16px 32px;
  margin: auto;
  margin-top: 16px;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 2px solid purple;
  border-radius: 8px;
}

.form.hidden {
  display: none;
}

.form > input,
.form > label {
  width: 100%;
  text-align: left;
  margin-bottom: 16px;
}

.form > input {
  border: none;
  outline: none;
  border-bottom: 1px solid purple;
  font-size: 16px;
}

.form .title {
  color: purple;
  font-size: 20px;
  margin-bottom: 16px;
}

.form > .file-upload__label {
  width: 100%;
  text-align: center;
  font-weight: bold;
  border: 1px solid purple;
  cursor: pointer;
  padding: 4px;
  border-radius: 4px;
}

.form > .file-upload__label:hover {
  color: purple;
}

.file-upload__file-info {
  text-align: center;
}

@media (min-width: 500px) {
  .form {
    width: 70%;
  }
}

@media (min-width: 1000px) {
  .form {
    width: 40%;
  }
}
